.modal.modal-form {
  .modal-content {
    background-color: white;
    margin: 25px;
    width: 100%;
    max-width: 740px;
    padding: 50px !important;
    box-sizing: content-box;
    max-height: 500px;
  }
}