

/* SCSS HEX */
$dartmouth-green: #2D6F2Dff;
$glaucous: #6184d8ff;
$medium-turquoise: #50c5b7ff;
$inchworm: #9cec5bff;
$icterine: #f0f465ff;

/* SCSS HSL */
$dartmouth-green: hsla(120, 42%, 31%, 1);
$glaucous: hsla(222, 60%, 61%, 1);
$medium-turquoise: hsla(173, 50%, 54%, 1);
$inchworm: hsla(93, 79%, 64%, 1);
$icterine: hsla(62, 87%, 68%, 1);

/* SCSS RGB */
$dartmouth-green: rgba(45, 111, 45, 1);
$glaucous: rgba(97, 132, 216, 1);
$medium-turquoise: rgba(80, 197, 183, 1);
$inchworm: rgba(156, 236, 91, 1);
$icterine: rgba(240, 244, 101, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2D6F2Dff,  #2D6F1C99);
$gradient-right: linear-gradient(90deg, #2D6F2Dff,  #2D6F1C99);
$gradient-bottom: linear-gradient(180deg, #2D6F2Dff, #6184d8ff, #50c5b7ff, #9cec5bff, #f0f465ff);
$gradient-left: linear-gradient(270deg, #2D6F2Dff, #6184d8ff, #50c5b7ff, #9cec5bff, #f0f465ff);
$gradient-top-right: linear-gradient(45deg, #2D6F2Dff, #6184d8ff, #50c5b7ff, #9cec5bff, #f0f465ff);
$gradient-bottom-right: linear-gradient(135deg, #2D6F2Dff, #6184d8ff, #50c5b7ff, #9cec5bff, #f0f465ff);
$gradient-top-left: linear-gradient(225deg, #2D6F2Dff, #6184d8ff, #50c5b7ff, #9cec5bff, #f0f465ff);
$gradient-bottom-left: linear-gradient(315deg, #2D6F2Dff, #6184d8ff, #50c5b7ff, #9cec5bff, #f0f465ff);
$gradient-radial: radial-gradient(#2D6F2Dff, #6184d8ff, #50c5b7ff, #9cec5bff, #f0f465ff);
