@import '../../styles/palette.scss';
.press-page {
  &__press-page-header {
    padding: 156px 0px 40px 0px;
    &__page-title {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      margin-bottom: 41px !important;
      &__title {
        width: 240px !important;
        font-family: 'gotham-bold';
        font-size: 50px;
        letter-spacing: -0.26px;
        line-height: 50px;
      }
    }
    &__more-info {
      color: get-color-from-palette('background-blue');
      font-family: 'gotham-book';
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.05px;
      &__link {
        color: get-color-from-palette('background-magenta');
        font-family: 'gotham-bold';
        &:hover, &:visited {
          color: get-color-from-palette('background-magenta');
        }
      }
    }
  }
  &__main-download-block {
    position: relative;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &__main-donwload-link {
      position: relative;
      cursor: pointer;
      background-image: url('../../../static/img/fill-blue.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 205px !important;
      height: 196px !important;
      margin: 0px auto !important;
      padding: 35px !important;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      &__text {
        display: block;
        color: get-color-from-palette('white');
        font-family: 'gotham-black';
        font-size: 10px !important;
        line-height: 18px;
        letter-spacing: 5.31px;
        text-transform: uppercase;
        margin-bottom: 10px !important;
        text-align: center;
      }
      &__arrow {
        display: block;
        width: 18px !important;
        height: 52px !important;
      }
    }
  }
  &__press-links {
    width: 100%;
    height: auto;
  }
}

@import "~bulma/sass/utilities/_all.sass";

@include tablet {
}

@include desktop {
  .press-page__press-page-header {
    padding: 368px 0px 122px 0px;
  }
  .press-page__press-page-header__page-title__title {
    font-size: 90px !important;
    line-height: 90px !important;
    width: 530px !important;
    margin-bottom: 122px !important;
  }

  .press-page__press-page-header__more-info {
    margin-bottom: 60px !important;
  }

  .press-page__main-download-block {
    justify-content: flex-end;
    &__main-donwload-link {
      width: 280px !important;
      height: 269px !important;
      padding: 52px !important;
      justify-content: center;
      &__arrow {
        width: 24px !important;
        height: 64px !important;
      }
    }
  }
}

@include widescreen {
  .press-page__press-page-header__page-title__title {
    width: 50%;
  }
}
